
@page "/contribute"
@using System.IO
@using System.Reflection
@using System.Text
<RadzenFieldset Text="Contribute">
    <div class="d-flex">
        <RadzenPanel class="flex-column" style="flex:50%" >
            <MarkdownView Content="@MarkdownContent" />
        </RadzenPanel>
        <div style="flex:50%" >
            <iframe class="airtable-embed" src="https://airtable.com/embed/shryFIOZFAD9Q77S6?backgroundColor=yellow" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>
        </div>
    </div>
</RadzenFieldset>
@code {

    private string MarkdownContent;

    protected override async Task OnInitializedAsync()
    {
        var assembly = Assembly.GetEntryAssembly();
        var resourceStream = assembly.GetManifestResourceStream("EugeneFoodScene.Data.contribute.md");
        //var names = assembly.GetManifestResourceNames();
        using (var reader = new StreamReader(resourceStream, Encoding.UTF8))
        {
            MarkdownContent = await reader.ReadToEndAsync();
        }
    }

}
