@page "/restaurants"
@page "/"

@using AirtableApiClient
@using EugeneFoodScene.Data
@inject AirTableService AirTableService

<h1>Airtable records</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (records == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rec in records)
            {
                <tr>
                    <td><a href="@rec.Fields.URL">@rec.Fields.Name</a></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<AirtableRecord<Place>> records;

    protected override async Task OnInitializedAsync()
    {
        records = await AirTableService.GetPlacesAsync();
    }
}
