@page "/restaurants"
@page "/"

@using AirtableApiClient
@using EugeneFoodScene.Data
@inject AirTableService AirTableService

<h1>Airtable records</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (places == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var place in places)
            {
                <tr>
                    <td><a href="@place.URL">@place.Name</a></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Place> places;

    protected override async Task OnInitializedAsync()
    {
        var records = await AirTableService.GetPlacesAsync();
        places = (from r in records select r.Fields).ToList();
    }
}
