@inherits LayoutComponentBase

@*<div class="sidebar">
    <NavMenu />
</div>*@

<div class="main">
    <RadzenImage Path="images/EugeneRestaurants-GoogleHeader.png"/>
        <RadzenMenu>
            <RadzenMenuItem Text="Restaurants" Path="restaurants" Icon="home"></RadzenMenuItem>
            <RadzenMenuItem Text="Map" Path="menu" Icon="map"></RadzenMenuItem>
            <RadzenMenuItem Text="Contribute"  Path="contribute" Icon="emoji_people"></RadzenMenuItem>
            <RadzenMenuItem Text="About" Path="about" Icon="info"></RadzenMenuItem>
        </RadzenMenu>
  
    <div>
        @Body
    </div>
</div>
